<nav class="language-nav">
  <ul>
    <a href="#">CSS</a>
    <a href="#">HTML</a>
    <a href="#">Javascript</a>
    <a href="#">Ruby</a>
  </ul>
</nav>


<nav class="masthead-links">
  <ul>
    <a href="#">Tuesday, October 18, 2016</a>
    <a href="#"><i class="fa fa-newspaper"></i>Today’s Paper</a>
    <a href="#"><i class="fa fa-video"></i>Video</a>
    <a href="#">77°F </a>
    <a href="#">AAO <span id="percetage_label">+100%</span></a>

  </ul>
</nav>
